<% chats.each do |chat| %>
  <% if chat.user_id == current_user.id %>
    <div class="row">
      <div class="col-6 text-left">
        <p class="d-inline-block rounded-pill bg-secondary py-1 px-3"><%= chat.message %></p>
      </div>
      <div class="col-6"></div>
    </div>
  <% else %>
    <div class="row">
      <div class="col-6"></div>
      <div class="col-6 text-right">
        <p class="d-inline-block rounded-pill border border-secondary py-1 px-3"><%= chat.message %></p>
      </div>
    </div>
  <% end %>
<% end %>