<div class="container mt-5">
  <div class="row">
    <div class='mx-auto text-center'>
      <h1><i class="fas fa-shoe-prints"></i><strong>旅路</strong>　へようこそ  !!</h1>
      <p>「旅路」では、あなたの旅先、出かけた先に投稿を残すことができます。</p>
      <p>旅先での思い出、出先での発見を投稿してみませんか？</p>
    </div>
  </div>
</div>